*.py[cod]
*.so
*.egg
*.egg-info
dist/
build/
__pycache__/

# UV
.venv/

# Test / coverage
.coverage*
.tox
.pytest_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Project
scratch/
docs/site
